
  <div class="item">
    <i class="large book middle aligned icon"></i>
    <div class="content">
      <%= link_to course.title.capitalize, course, class: "header" %>      
      <div class="description"><%= course.updated_at.strftime("Updated on %m/%d/%Y") + " ,  " %> <%= link_to "edit this course", edit_course_path(course) if current_user.admin?%></div>
    </div>
  </div>
