<%= link_to "New course", new_course_path, class: 'ui blue button' if current_user.admin? %>
<div style="margin-top: 30px;"></div>
<div class="ui relaxed divided list">
<%= render @courses %> 
</div>

