/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";
.wrapper {
	margin: 100px 150px 0px;
}

.ui.dividing.header {
	margin-bottom:30px;
}

.main.container {
	background-image: url("http://iwallpapers2.free.fr/images/Abstract/Sci_Fi_Wallpapers_1600x900.jpg");
	height: 1000px;
	position:absolute;
	left:0;
	right:0;
	top:0;
	z-index: -1;	
}
.blank.space {
	height: 7000px;
}
.active.item {
	background: none;
}
.top.inverted.pointing.fixed.secondary.menu {
	background-color: rgba(0, 0, 0, 0.57);
	border: none;
	padding-bottom: 3px;
	.item {
		color: white;
	}	
}
.form.container {
	margin: 0px 150px;
}

.error.messages {
	color: #af3d3d;
	margin-bottom: 30px;
}
