<div id="center">
<div class="center-image"><%= image_tag "thankyou.png" %></div><br/>
          <h2>Thank you for buying our courses!</h2><br/>
          <p>you can begin your session right now, check your dashboard</p>
</div>
